<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
  </head>
  <body ng-controller="DashboardCtrl" style="margin-left:50px">

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-4">
              <div style="font-size:2.5em;margin-top:5px">{{extraLife.team.totalRaisedAmount | currency}} / {{extraLife.team.fundraisingGoal | currency}} ({{extraLife.team.goalPercent}}%)</div>
            </div>
            <div class="col-sm-4" style="text-align:center">
              <div style="font-size:2.5em;margin-top:5px">Viewers: {{twitch.viewers}}</div>
            </div>
            <div class="col-sm-4">
              <div class="clock">
                {{clock.time}}
              </div>
            </div>
          </div>
          <div class="row">
            <table class="table table-striped" style="font-size:1.2em">
              <thead>
                <tr>
                  <th style="min-width:100px">Date</th>
                  <th style="min-width:50px">Amount</th>
                  <th style="min-width:150px">Donor</th>
                  <th style="min-width:150px">Player</th>
                  <th>Message</th>
                </tr>   
              </thead>     
              <tbody>
                <tr ng-repeat="donation in extraLife.donations">
                  <td>{{donation.createdOn | date}}<br>{{donation.createdOn | time}}</td>
                  <td>{{donation.donationAmount | currency}}</td>
                  <td>{{donation.donorName}}</td>
                  <td>{{donation.participant}}</td>
                  <td>{{donation.message}}</td>
                </tr>   
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-sm-3">
          <iframe frameborder="0" 
                  scrolling="no" 
                  id="chat_embed" 
                  ng-src="{{twitch.chatUrl}}"
                  width="400"
                  height="700">
          </iframe>
          <div class="panel panel-default" style="width:400px">
            <div class="panel-heading">Chatters</div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="chatter in twitch.chatters">{{chatter}}</li>
              <li class="list-group-item" ng-repeat="chatter in twitch.mods">
                <span class="label label-danger">MOD</span> {{chatter}}
                </li>
            </ul>
          </div>        
        </div>
      </div>
    </div>
    
    <button ng-click="donate()">Simulate Donation</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/35406768/ngFx.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>